body {
    background-color: #351b01 !important;
    color: white !important;
}

hr {
    border-color: white !important;
    opacity: 0.5;
    width: 500px;
}

.close-icon {
    position: absolute;
    top: 9;
    right: 20;
    font-size: 36px;
    color: white;
}

.close-icon:hover {
    color: pink;
}

h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.directory {
    padding: 10px 30px;
}

.changedirectory {
    margin-top: 30px;
    font-size: 14px;
}